<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Welcome Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Movie-Analysis - v4.9.1
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a href="/">NBA <span>Streaming</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Goal & Novelty</a></li>
          <li><a class="nav-link scrollto" href="#ts">Technology & System</a></li>
          <li><a class="nav-link scrollto" href="#dataset">Dataset</a></li>
          <li><a class="nav-link scrollto " href="#visualization">Visualization</a></li>
          <li><a class="nav-link scrollto" href="#query">Query</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="hero">
    <div class="hero-content" data-aos="fade-up">
      <h2><span>NBA Data Streaming</span><br>based on Twitter!</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="#visualization" class="btn-projects scrollto">See Results</a>
      </div>
    </div>

    <div class="hero-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('../static/assets/img/hero-carousel/1.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('../static/assets/img/hero-carousel/2.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('../static/assets/img/hero-carousel/3.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('../static/assets/img/hero-carousel/4.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('../static/assets/img/hero-carousel/5.jpg');"></div>
      </div>
    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Goal & Novelty</h2>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title">Real-Time Insights</h4>
              <p class="description">Utilizing real-time data from social media to predict event performance.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title">Time-Sensitive Interest</h4>
              <p class="description">Analyzing how interest levels change in relation to event timing, providing insights for optimizing promotional strategies.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title">Data-Driven</h4>
              <p class="description">Leveraging real-time insights to design improved events and tailor promotional efforts, resulting in increased engagement and revenues.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title">Optimized Event Design</h4>
              <p class="description">Utilizing data-driven insights to develop superior events and tailor promotional activities for maximum engagement and revenue generation.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= TS Section ======= -->
    <section id="ts">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Technology & System</h2>
        </div>
        <div class="container">
          <h4 class="title"><strong>Technology</strong></h4>
          <p>In this project, We use Twitter API as the primary data source for the sport event analysis.The data is pulled in live from Twitter API and stored in Google Cloud Storage for further analysis. The live data is also continuously processed and updated as new tweets are posted. And we process and transform the data before storing it in GCP Storage.
</p>
        </div>
        <div class="container">
          <h4 class="title"><strong>System Design</strong></h4>
          <img src="../static/assets/img/figures/system.png" class="auto-img" alt="" >
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Dataset Section ======= -->
    <section id="dataset">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Dataset</h2>
          <p>To collect the dataset, we connect to the Twitter API and define specific hashtags, dates, and time ranges for retrieving tweets. We then analyze the sentiment of each tweet using a sentiment analysis tool.
            The dataset is organized with each entry representing a unique tweet, containing information such as the hashtag, time, text, location (if available), favorite count, and sentiment score.
            This comprehensive dataset enables a deeper understanding of public opinions and engagement with various topics on Twitter, as well as the exploration of trends, patterns, and insights related to the chosen hashtags.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title">mergedName.csv</h4>
              <p class="description">We use teams hashtags only to get relevant tweets.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title">mergedPlaceName.csv</h4>
              <p class="description">We use tweets with location and name info to do further analysis. </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title">mergedAll.csv</h4>
              <p class="description">We merge all data into a csv. </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title">mergedAllWithHeader.csv</h4>
              <p class="description">We add a header to denote each column. </p>
            </div>
          </div>

        </div>

        <div class="container">
          <br>
          <h4 class="title"><strong>Need codes?</strong> <a href="https://github.com/Iris1e27/ELEN6889_Final_Project">Click here to see our GitHub Repo!</a></h4>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Visualization Section ======= -->
    <section id="visualization" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Visualization</h2>
          <p>Here is our result gallery, you can see detailed information when you move the mouse up.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="../static/assets/img/figures/Average Sentiment per State.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Average Sentiment per State</h4>
              <p>This sentiment analysis presents state-level sentiment scores on a US map</p>
              <a href="../static/assets/img/figures/Average Sentiment per State.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="../static/assets/img/figures/Average Sentiment per State 1.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Average Sentiment per State (Histogram)</h4>
              <p>This sentiment analysis presents state-level sentiment scores in descend order.</p>
              <a href="../static/assets/img/figures/Average Sentiment per State 1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="../static/assets/img/figures/Sentiment by Hour.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sentiment by Hour</h4>
              <p>This sentiment analysis visualizes hourly sentiment scores over a period of time in a plot</p>
              <a href="../static/assets/img/figures/Sentiment by Hour.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="../static/assets/img/figures/Sentiment by Day.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sentiment by Day</h4>
              <p>This sentiment analysis visualizes sentiment scores by day in a plot </p>
              <a href="../static/assets/img/figures/Sentiment by Day.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="../static/assets/img/figures/Sentiment by Period.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sentiment by Period</h4>
              <p>This sentiment analysis visualizes sentiment scores by different periods of a day.</p>
              <a href="../static/assets/img/figures/Sentiment by Period.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="../static/assets/img/figures/Total Likes by State.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Total Likes by State</h4>
              <p>This figure presents state-level likes count on a US map.</p>
              <a href="../static/assets/img/figures/Total Likes by State.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="../static/assets/img/figures/Total Likes by Location.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Total Likes by Location</h4>
              <p>This figure presents likes count of different locations in a pie chart.</p>
              <a href="../static/assets/img/figures/Total Likes by Location.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="../static/assets/img/figures/Likes by Day.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Likes by Day</h4>
              <p>This figure represents total likes by day.</p>
              <a href="../static/assets/img/figures/Likes by Day.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="../static/assets/img/figures/codeshere.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Need codes?</h4>
              <p>Click link sign to see our codes!</p>
              <a href="https://github.com/Iris1e27/ELEN6889_Final_Project" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Prediction Section ======= -->
    <section id="query" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>query</h2>
          <p>You can select a start time and a duration to see what happened during that period of time. </p>
        </div>

        <div>
          <h2>
            <a href="/plot" class="btn-get-started scrollto">Try your query</a>
          </h2>
          
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="../static/assets/img/team-1.jpg" alt=""></div>
              <div class="details">
                <h4>Brian Yao</h4>
                <span>by2344@columbia.edu</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="../static/assets/img/team-2.jpg" alt=""></div>
              <div class="details">
                <h4>Weirui Peng</h4>
                <span>wp2279@columbia.edu</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="../static/assets/img/team-3.jpg" alt=""></div>
              <div class="details">
                <h4>Jingtian Zhang</h4>
                <span>jz3500@columbia.edu</span>
              </div>
            </div>
          </div>
            <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="../static/assets/img/team-4.jpg" alt=""></div>
              <div class="details">
                <h4>Yifeng Wang</h4>
                <span>yw3933@columbia.edu</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>ELEN 6889 Team</strong>. All Rights Reserved
      </div>
{#      <div class="credits">#}
{#        <!--#}
{#        All the links in the footer should remain intact.#}
{#        You can delete the links only if you purchased the pro version.#}
{#        Licensing information: https://bootstrapmade.com/license/#}
{#        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal#}
{#      -->#}
{#        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
{#      </div>#}
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>